.interactive-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 0px;
  left: 20px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.button-back {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #d5b4b4;
  padding: 16px 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.icon-add {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d5b4b4;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.icon-add .add {
  height: 100%;
  width: 100%;
}
