.agrochemical-page {
  display: flex;
  width: 100vw;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.container {
  border-bottom: 1px solid #867070;
}

.agrochemical-header-info tr {
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.agrochemical-header-info tr:nth-child(1) {
  cursor: pointer;
}
