/* .container {
  display: grid;
  height: calc(100vh - 150px);
  grid-template-columns: 300px 1fr;
} */
.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 8px; */
}
/* section menu */
.container-menu {
  display: flex;
  flex-direction: column;
  background-color: #867070;
  height: 100%;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: #e4d0d0;
  cursor: pointer;
  border: 1px solid #867070;
}
.card:hover {
  opacity: 0.5;
}
.card p {
  justify-content: flex-start;
}
.card img {
  height: 150px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .container-main {
    flex-direction: column;
  }
}
