:root {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-weight: 400;
}
#root {
  height: 100vh;
  width: 100%;
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 1fr; */
}
body {
  margin: 0;
  display: flex;
  background-color: #f5ebeb;
  color: black;
}
